@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

[theme~="dark"] {
    --lumo-base-color: #272d2d;

    --lumo-primary-color: #01cff9;
    --lumo-primary-color-50pct: #01cff9;
    --lumo-primary-text-color: #01cff9;

    --lumo-contrast-5pct: hsla(214, 65%, 85%, 0.06);
    --lumo-error-color: hsl(3, 69%, 47%);
    --lumo-header-text-color: #01cff9;
    --lumo-body-text-color: hsla(0, 0%, 100%, 0.9);
    --lumo-secondary-text-color: #c1dee5;
    --lumo-tertiary-text-color: #ffffff;

    --lumo-error-text-color: hsl(3, 79%, 49%)
}


/*Test*/
/*Test*/
/*Test*/